# Node / Package managers
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
.pnpm-store/

# Next.js
.next/
.next-static/
out/
dist/

# Env & local
.env
.env.local
.env.*.local
.vercel/
.DS_Store

# Tooling
coverage/
.storybook-out/
turbo/
.cache/
.vscode/
.vercel
